doctype 5
html(lang="en")
	head
		title Ocesa
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
		link(rel='stylesheet', href='/stylesheets/flick/jquery-ui-1.10.3.custom.min.css')

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/jquery.fancybox.pack.js")
		script(src="/javascripts/jquery-ui-1.10.3.custom.min.js")

		script(src="/javascripts/view.index.js")
			
	body
		block content